table {
empty-cells: show;
border-collapse: collapse;
border-spacing: 0;
table-layout: fixed;
width:800px;
}
.gridStyle {
    border: 1px solid #999;
}

.kgViewport{
	height: 150px;
}


th{
	text-align: left;
}
th .kgSelectionHeader {
	position: static;
	margin-top: 7px;
	margin-left: 6px;
}
.kg-Row {
border-bottom: 1px solid rgb(229, 229, 229);
}
.kg-Row.odd {
background-color: rgb(253, 253, 253);
}
.kg-Row.even {
background-color: rgb(243, 243, 243);
}
.kg-Row.selected {
background-color: rgb(189, 208, 203);
}
.kgHeaderCell, .kgRow, .kgCell {
position: static;
}
.kgHeaderSortColumn{
	position: relative;
}


.kgFooterPanel:after{
	clear: both;
	height: 0;
	overflow: hidden;
	content: '';
	display: block
}